exocars/.phpunit.cache
exocars/node_modules
exocars/public/build
exocars/public/hot
exocars/public/storage
exocars/storage/*.key
exocars/storage/pail
exocars/vendor
exocars/.env
exocars/.env.backup
exocars/.env.production
exocars/.phpactor.json
exocars/.phpunit.result.cache
exocars/Homestead.json
exocars/Homestead.yaml
exocars/npm-debug.log
exocars/yarn-error.log
exocars/auth.json
exocars/.fleet
exocars/.idea
exocars/.nova
exocars/.vscode
exocars/.zed
