.insert_form {
    height: 0px;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
    background-color: white;
    color: gray;
    visibility: hidden;
}

.display_insert_form{
    height: auto;
    visibility: visible;
}

.input-group {
    margin-bottom: 10px;
}

#ins_car_button{
    min-width: 200px;
    min-height: 50px;
    margin-bottom: 10px;
}

th {
    max-width: 300px;
}

.img-thumbnail {
    height: 300px;
    width: auto;
}